{% extends "base.html" %}

{% block style %}
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"></script>
{% endblock %}

{% block main %}
<form action={% url 'article_publish' %} method="post">

{% csrf_token %}
<p>{{ form.title.label_tag }} {{ form.title }}</p>
<p>{{ form.content.label_tag }} {{ form.content }}</p>
<p>{{ form.tag.label_tag }} {{ form.tag }}</p>

<input type="submit" value="提交" />
</form>
{% endblock %}

